<footer>
  <div class="f-info">
    <div class="f-info-socials">
        <a href="https://www.facebook.com/" title="Facebook" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/" title="Instagram" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com/?lang=en" title="Twitter" target="_blank">
          <i class="fa-brands fa-x-twitter"></i> </a>
        <a href="https://www.linkedin.com/" title="LinkedIn" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
